*{box-sizing: border-box;color: rgba(95, 95, 95, 0.877);}
.roundBorder{border-radius: 20px;}
.textAtCenter{text-align: center;}
.fontSize{font-size: 25px; font-weight: bold;}
.padding{padding: 0 5%;}
.darkText{color: rgb(32, 32, 32);}
.margin{margin: 10px;}
.colorG{color: #8cfd88;}
.colorO{color: rgb(0, 0, 0);}
/* Globally Applicable */

/* body*/
body{
    position: relative;
    background-color: rgb(245, 245, 245);
}

/* Dark Mode */
.checkbox{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
}
label{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-gap: 10px;
    position: relative;
}
#btn{
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}
.check{
    content: "";
    height: 20px;
    width: 40px;
    border-radius: 20px;
    background: rgb(0, 0, 0);
    cursor: pointer;
}
.check::before{
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 21px;
    background: rgb(255, 255, 255);
}

/* Nav Bar */
nav{
    background: rgb(210, 210, 210);
    font-size: 25px;
    display: flex; 
    justify-content: space-between;
}

nav > a{
    padding: 0 15px;
}

/* MAin */
.main{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 30%;
    grid-gap: 20px;
    justify-content: center;
}

/* Left Card */
.left{
    grid-column: 1 / 4;
    box-shadow: 1px 1px 10px rgb(151, 151, 151), 0px 0px 10px rgb(184, 184, 184);
    background-color: #fff;
}
.namePosition{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.name{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}
.info{
   padding: 1em;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}    
a{text-decoration: none;}

/* Meter Bars */
.meterBase{
    background-color: rgb(230, 230, 230);
    height: 20px;
}
.meter{
    height: 100%;
    background: rgb(43, 143, 3);
    color: #fff;
}

/* Right Card */
.right{
    grid-column: 1 / 4;
    box-shadow: 1px 1px 10px rgb(151, 151, 151), 0px 0px 10px rgb(184, 184, 184);
    background-color: #fff;
}
.year{
    color: green;
    font-size: medium;
    font-weight: 500;
}

/* Social Media Links */
footer{
    box-shadow: 0px 0px 10px rgb(151, 151, 151), 2px 2px 10px rgb(184, 184, 184);
    grid-column: 1 / 4;
    height: 200px;
    width: 100%;
    text-align: center;
    background: #ff6b6b;
}

/* Responsive Work */
/* For mobile devices - Normal CSS Applied */

/* For Desktop */
/* Cards */
@media only screen and (min-width: 830px){
    .left{
        grid-row: 1 / 3 ;
        grid-column: 1 / 2;
        margin: 0px;
    }
    .right{
        grid-column: 2 / 4;
        margin: 0px;
    }
    #footer{
        margin: 0px;
    }
}
/* Nav Bar */
@media (max-width:540px){
    nav{

        flex-direction: column;
    }
    nav > em{
        display: block;
        text-align: center;
    }
    nav > a{
        border:1px solid rgb(32, 32, 32);
        text-align: center;
    }
}

/* Hovering Edits */
footer a:hover{opacity: 0.5;font-size: 30px;}
a[href="mailto:vajresh005@gmail.com"]:hover{
    color: rgb(55, 118, 255);
    font-size: larger;
    font-style: italic;
}
.heading:hover{
    color: #000;
    font-size: 30px;
}
.text:hover{
    color: #000;
    font-size: larger;
}
.division:hover{
    font-size: larger;
}
.meterBase:hover{
    height:30px;
    
}
.meter:hover{
    font-size: larger;
    text-align: right;
}
nav > a:hover{
    background: rgb(190, 190, 190);
    border-bottom: 2px solid rgb(0, 0, 0);
}
span:hover{
    box-shadow: 0px 0px 5px rgb(99, 99, 99), 0px 0px 5px rgb(63, 63, 63), 0px 0px 5px rgb(0, 0, 0);
}

/* Back to Top */
a[href="#top"]{
    position: fixed;
    right: 20px;
    bottom: 10px;
    background: rgb(212, 212, 212);
    color: rgb(0, 0, 0);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    padding: 8px 0 0 0;
}
