*{box-sizing: border-box;color: rgba(95, 95, 95, 0.877);}
.roundBorder{border-radius: 20px;}
.textAtCenter{text-align: center;}
.fontSize{font-size: 25px; font-weight: bold;}
.padding{padding: 0 5%;}
.margin{margin: 10px;}
.darkText{color: rgb(32, 32, 32);}
.colorG{color: #8cfd88;}
.colorO{color: rgb(0, 0, 0);}
/* Globally Applicable */

/* body*/
body{
    position: relative;
    background-color: rgb(245, 245, 245);
}

/* Nav Bar */
nav{
    background: rgb(209, 209, 209);
    font-size: 25px;
    display: flex; 
    justify-content: space-between;
}

nav > a{
    padding: 0 15px;
}

/* Left Card */
.left{
    float: left;
    box-shadow: 2px 2px 10px rgb(151, 151, 151), 2px 2px 10px rgb(184, 184, 184);
    background-color: #fff;
}
.namePosition{
    position: absolute;
    bottom: 10%;
    left: 5%;
}
.name{
    font-size: 45px;
    font-weight: 900;
    font-family: 'Comfortaa', cursive;
}
.info{
   padding: 1em;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 20px;
}    
a{text-decoration: none;}

/* Meter Bars */
.meterBase{
    background-color: rgb(230, 230, 230);
    height: 20px;
}
.meter{
    height: 100%;
    background: rgb(43, 143, 3);
    color: #fff;
}

/* Right Card */
.right{
    float: right;
    box-shadow: 2px 1px 10px rgb(151, 151, 151), 2px 1px 10px rgb(184, 184, 184);
    background-color: #fff;
}
.year{
    color: green;
    font-size: medium;
    font-weight: 500;
}

/* Social Media Links */
footer{
    box-shadow: 2px 2px 10px rgb(151, 151, 151), 2px 2px 10px rgb(184, 184, 184);
    float: left;
    height: 150px;
    text-align: center;
    padding-bottom: 20px;
    background: #ff6b6b;
}

/* Responsive Work */
/* For mobile devices*/
[class*="col-"]{width: 100%;}  
/* For Desktop */
@media only screen and (min-width: 700px){
    .col-2{width: 39%;}
    .col-5{width: 55%;}
    .col-8{width: 98%;}
}
@media only screen and (max-width:700px){
    .main{margin: 0 20px 0 0;}
    #footer{margin: 0 20px 0 0;}
    .right{float: left;}
}
@media (max-width:540px){
    nav{

        flex-direction: column;
    }
    nav > em{
        display: block;
        text-align: center;
    }
    nav > a{
        border:1px solid rgb(32, 32, 32);
        text-align: center;
    }
}

/* Hovering Edits */
footer a:hover{opacity: 0.5;font-size: 30px;}
a[href="mailto:vajresh005@gmail.com"]:hover{
    color: rgb(55, 118, 255);
    font-size: larger;
    font-style: italic;
}
.heading:hover{
    color: #000;
    font-size: 30px;
}
.text:hover{
    color: #000;
    font-size: larger;
}
.division:hover{
    font-size: larger;
}
.meterBase:hover{
    height:30px;
    
}
.meter:hover{
    font-size: larger;
    text-align: right;
}

/* Back to Top */
a[href="#top"]{
    position: fixed;
    right: 20px;
    bottom: 10px;
    background: gray;
    color: honeydew;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding: 6px 0 0 0;
}


/* *TODO: valid code for dark mode but can be applied after JS file is completed.

/* Dark Mode *
label{
    display: flex;
    justify-content: flex-end;
    min-width: 1vh;
    position: relative;
}
.dark{
    margin-top: 6px;
}
input[type="checkbox"]{
    -webkit-appearance: none;
    display: none;
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .check{
    background: white;
    box-shadow: 0 0 0 50000px rgb(0, 0, 0);
    opacity: 0.6;
}
input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(50px);
    visibility: hidden;
}
input[type="checkbox"]:checked ~ .check::after{
    transform: translateX(0px);
    background: rgb(0, 0, 0);
}
.check{
    content: "";
    height: 20px;
    width: 45px;
    background: #000000;
    border-radius: 20px;
    margin: 5px 10px 0px 10px;
}
.check::before,
.check::after{
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
}
.check::before{
    background: white;
    right: 35px;
}
.check::after{
    background: rgb(0, 0, 0);
    right: 10px;
}
*/




/* *!Dummy code
input[type="checkbox"]:checked ~ .check::before{
    transform: translateX(-50px);
}*
input[type="checkbox"]:checked ~ .check{
    background-color: #ffffff;
    box-shadow: 0 0 0 50000px #092c3e;
}*
input[type="checkbox"]:checked ~ .check::after{
    transform: translateX(0);
}
.check::before,
.check::after{
    border-radius: 50%;
    content: "";
    height: 16px;
    position: absolute;
    top: 2px;
    transition: transform 0.5s ease;
    width: 16px;
}

.check::before{
    background-color: #ffffff;
    left: 2px;
}*
.check{
    background-color: #092c3e;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 20px;
    overflow: hidden;
    position: relative;
    transition: background-color 0.5s ease-in,
                box-shadow 0.5s ease-in;
    width: 40px;
}
*
.check::after{
    background-color: #092c3e;
    right: 2px;
    transform: translateX(50px);
}
*/
